<body id="container">
  <header id="header"></header>
  <div class = "register-box" id="box">
    <form (ngSubmit)="onSubmit()">
      <h3> Sign Up Now </h3>

      <label>
        Full Name<br>
        <input type="text" name="name" placeholder="Enter Your Name" [(ngModel)]="user.name"><br>
      </label><br>

      <label>
        Birthday<br>
        <input type="text" name="birthday" placeholder="MMDD" [(ngModel)]="user.birthday"><br>
      </label><br>

      <label>
        Email<br>
        <input type="text" name="email" placeholder="someone@domain.com" [(ngModel)]="user.email"><br>
      </label><br>

      <label>
        Password<br>
        <input type="text" name="password" placeholder="Password" [(ngModel)]="user.password"><br>
        <input type="text" id="confirmPw" placeholder="Confirm Password"><br>
      </label><br>

          <button id="btnStyle"> Create Account </button>

          <p> already have an account? </p>

          <a href="./user-login">
            <p id="loginText">Login Now!</p>
          </a>

        </form>
    </div>

  <footer id="footer"></footer>

</body>
