
  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title>
</head>
<body>
  <header>
    <div class ="helloname">Hello, Name</div>
    <div class ="logout">Logout</div>
    <div class="DreamyLogo">
      <img src="\assets\images\DJC logo.png" alt="DreamyLogo">
    </div>
  </header>
  <section class="gallery">
    <div class="flavor-1">
      <img src="\assets\images\almond toffee.png" alt="flavor 1">
      <div class="flavortext1">Flavor 1
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label>
      </div>
    </div>
    
    <div class="flavor-2">
      <img src="\assets\images\image(3).webp" alt="flavor 2">
      <div class="flavortext1">Flavor 2
        <label>
        <input type="checkbox" name="flavor-1-checkbox">
      </label></div>
    </div>
    <div class="flavor-3">
      <img src="\assets\images\almond toffee.png" alt="flavor 3">
      <div class="flavortext1">Flavor 3        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-4">
      <img src="\assets\images\almond toffee.png" alt="flavor 4">
      <div class="flavortext1">Flavor 4        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-5">
      <img src="\assets\images\almond toffee.png" alt="flavor 5">
      <div class="flavortext1">Flavor 5        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-6">
      <img src="\assets\images\almond toffee.png" alt="flavor 6">
      <div class="flavortext1">Flavor 6        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-7">
      <img src="\assets\images\almond toffee.png" alt="flavor 7">
      <div class="flavortext1">Flavor 7        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-8">
      <img src="\assets\images\almond toffee.png" alt="flavor 8">
      <div class="flavortext1">Flavor 8        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
    <div class="flavor-9">
      <img src="\assets\images\almond toffee.png" alt="flavor 9">
      <div class="flavortext1">Flavor 9        
        <label>
          <input type="checkbox" name="flavor-1-checkbox">
        </label></div>
    </div>
  </section>
  <section class="menu">
    <div class="container">
      <div class="box1">
        <p>Menu</p>
        <p>Coffee</p>
        <p>Tea</p>
        <p>Pastry</p>
      </div>
    </div>
  </section>
  <section class="list">
    <div class="container">
      <div class="box2">
        <p>Name's list.</p>
        <section class="gallery">
          <div class="favflavor-1">
            <img src="\assets\images\almond toffee.png" alt="flavor 1">
            <div class="flavortext2">Flavor 1
              <label>
                <input type="checkbox" name="flavor-1-checkbox">
              </label>
            </div>
            <div class="favflavor-2">
              <img src="\assets\images\image(3).webp" alt="flavor 2">
              <div class="flavortext2">Flavor 2
                <label>
                <input type="checkbox" name="flavor-1-checkbox">
              </label></div>
            </div>
            <div class="favflavor-3">
              <img src="\assets\images\almond toffee.png" alt="flavor 3">
              <div class="flavortext2">Flavor 3        
                <label>
                  <input type="checkbox" name="flavor-1-checkbox">
                </label></div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <section class="background">
    <img src="\assets\images\christina-rumpf-LMzwJDu6hTE-unsplash.jpg" alt="background">
    <div class="background-overlay">This is the overlay text</div>
  </section>  
</body>
</html>